body {
  font-family: inter;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
* {
  margin: 0;
}
.lig-cor-row {
  display: flex;
  flex-direction: row;
}
.date {
  background-color: #ef2525;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: white;
  width: 100%;
}
.ligne-B {
  background-color: #becee9;
  width: max-content;
  text-align: center;
  display: flex;
  align-items: end;
  padding: 15px;
}
.ligne-B-text {
  color: white;
  font-weight: 800;
  font-size: 24px;
}
.correspondances {
  display: flex;
  background-color: #ebf2fe;
  flex-grow: 1;
  padding: 15px;
  z-index: -2;
}
h2 {
  background-color: #91abd8;
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  width: max-content;
  padding: 4px 10px;
}
.colonne-part {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  gap: 15px;
}
.colonne-part:nth-child(1) {
  flex: 0 1 100px;
}
.dashed-bar {
  background-image: linear-gradient(
    to right,
    #91abd8 66%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: center;
  background-size: 20px 10px;
  background-repeat: repeat-x;
  height: 20px;
}
.ronds {
  background-color: white;
  border-radius: 999px;
  border: solid 4px #91abd8;
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: -2px;
}
.barre {
  background-image: linear-gradient(
    to right,
    #91abd8 100%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: center;
  background-size: 20px 10px;
  background-repeat: repeat-x;
  height: 20px;
}
.T {
  background-color: #ef2525;
  width: 30px;
  height: 29px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px 0px 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tram {
  width: 30px;
  height: 29px;
  background-color: #9b4aff;
  color: white;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tram-T {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.bus-C {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.bus {
  width: 38px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #91abd8;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.chiffres-bus {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-right: 20px;
}
.T-bus {
  background-color: #ef2525;
  width: max-content;
  height: 29px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  border-radius: 12px;
  padding: 0px 6px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.correspondances .colonne-part:last-child h2 {
  background-color: black;
}
.correspondances .colonne-part:last-child .ronds {
  border: solid 4px black;
}
.metro {
  width: 30px;
  height: 29px;
  background-color: #ff78f8;
  color: white;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hidden {
  visibility: hidden;
}
.colonne-part:last-child .barre {
  background: none;
}
